.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 4px;
  max-width: 300px;
  font-size: 16px;
}

.button {
  display: inline-block;
  cursor: pointer;
  max-width: 120px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  font-size: 16px;
  padding: 3px;
}
